<!DOCTYPE html>
<html>
<head>
  <link rel="icon" href="{{ url_for('static', filename='images/NITAC_LOGO.ico') }}" type="image/x-icon">
  <title>明石高専学生食堂システム</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/menu.css') }}">
  <script type="importmap">
    {
      "imports": {
        "@material/web/": "https://esm.run/@material/web/"
      }
    }
  </script>
  <script type="module">
    import '@material/web/all.js';
    import {styles as typescaleStyles} from '@material/web/typography/md-typescale-styles.js';

    document.adoptedStyleSheets.push(typescaleStyles.styleSheet);
    
  document.addEventListener('DOMContentLoaded', function() {
    const today = new Date();
    let displayDate = today;

    // 土曜日(6)または日曜日(0)の場合、次の月曜日に設定
    if (today.getDay() === 6) { // 土曜日
      displayDate.setDate(today.getDate() + 2);
    } else if (today.getDay() === 0) { // 日曜日
      displayDate.setDate(today.getDate() + 1);
    }

    // 日付を{m}月{d}日形式で表示
    const month = displayDate.getMonth() + 1; // 月は0から始まるため+1
    const day = displayDate.getDate();
    const menuTitle = `${month}月${day}日の日替わりメニュー`;

    document.getElementById('daily-menu-title').textContent = menuTitle;
  });
  </script>
</head>
<body>
  <div id="main-content" style="display: none;"> 
    <md-tabs id="top-tabs">
      <md-primary-tab id="AB-tab" active>
        <md-icon slot="icon">restaurant_menu</md-icon>
        日替わり
      </md-primary-tab>
      <md-primary-tab id="RICE-tab">
        <md-icon slot="icon">rice_bowl</md-icon>
        丼・カレー
      </md-primary-tab>
      <md-primary-tab id="NOODLE-tab">
        <md-icon slot="icon">ramen_dining</md-icon>
        麺類
      </md-primary-tab>
      <!-- <md-primary-tab id="OTHER-tab">
        <md-icon slot="icon">pending</md-icon>
        その他
      </md-primary-tab> -->
    </md-tabs>

    <div id="menu-items">
      <div id="AB-panel" role="tabpanel" aria-labelledby="AB-tab"> 
        {% if products|length > 0 %}
          {% for product in products %}
            {% if product[3] == "AB" %}
            <a href="/products/{{ product[0] }}" class="product-card-link">
              <div class="product-card mdc-card">
                <md-elevation></md-elevation>
                <div class="mdc-card__media">
                  <md-ripple class="unbounded"></md-ripple> <span class="material-symbols-outlined category-icon">restaurant_menu</span>
                </div>
                <div class="mdc-card__primary-action">
                  <md-ripple></md-ripple>
                  <h2>{{ product[1] }}</h2>
                </div>
                <md-divider></md-divider>
                <div class="mdc-card__actions">
                  <md-ripple></md-ripple>
                  <div class="name"><span class="price">{{ product[2] }}</span></div>
                  <div class="status-button 
                              {% if product[4] %} 
                                  sold-out
                              {% else %}
                                  in-stock
                              {% endif %}">
                    <md-ripple></md-ripple>
                    {% if product[4] %}
                      Sold Out
                    {% else %}
                      In Stock
                    {% endif %}
                  </div>
                </div>
              </div>
            </a>
            {% endif %}
          {% endfor %}
        {% else %}
          <div class="no-menu-message">
            <span class="material-symbols-outlined category-icon">event_busy</span>
            <h2>メニューが存在しないか、<br>食堂は営業していません。</h2>
          </div>
        {% endif %}
      </div>
      <div id="RICE-panel" role="tabpanel" aria-labelledby="RICE-tab" hidden>
        {% if products|length > 0 %}
          {% for product in products %}
            {% if product[3] == "RICE" %}
            <a href="/products/{{ product[0] }}" class="product-card-link">
              <div class="product-card mdc-card">
                <md-elevation></md-elevation>
                <div class="mdc-card__media">
                  <md-ripple class="unbounded"></md-ripple>
                  <span class="material-symbols-outlined category-icon">rice_bowl</span>
                </div>
                <div class="mdc-card__primary-action">
                  <md-ripple></md-ripple>
                  <h2>{{ product[1] }}</h2>
                </div>
                <md-divider></md-divider>
                <div class="mdc-card__actions">
                  <md-ripple></md-ripple>
                  <div class="name"><span class="price">{{ product[2] }}</span></div>
                  <div class="status-button 
                              {% if product[4] %} 
                                  sold-out
                              {% else %}
                                  in-stock
                              {% endif %}">
                    <md-ripple></md-ripple>
                    {% if product[4] %}
                      Sold Out
                    {% else %}
                      In Stock
                    {% endif %}
                  </div>
                </div>
              </div>
            </a>
            {% endif %}
          {% endfor %}
        {% else %}
          <div class="no-menu-message">
            <span class="material-symbols-outlined category-icon">event_busy</span>
            <h2>メニューが存在しないか、<br>食堂は営業していません。</h2>
          </div>
        {% endif %}
      </div>
      <div id="NOODLE-panel" role="tabpanel" aria-labelledby="NOODLE-tab" hidden>
        {% if products|length > 0 %}
          {% for product in products %}
            {% if product[3] == "RAMEN" or product[3] == "UDON"%}
            <a href="/products/{{ product[0] }}" class="product-card-link">
              <div class="product-card mdc-card">
                <md-elevation></md-elevation>
                <div class="mdc-card__media">
                  <md-ripple class="unbounded"></md-ripple>
                  <span class="material-symbols-outlined category-icon">ramen_dining</span>
                </div>
                <div class="mdc-card__primary-action">
                  <md-ripple></md-ripple>
                  <h2>{{ product[1] }}</h2>
                </div>
                <md-divider></md-divider>
                <div class="mdc-card__actions">
                  <md-ripple></md-ripple>
                  <div class="name"><span class="price">{{ product[2] }}</span></div>
                  <div class="status-button 
                              {% if product[4] %} 
                                  sold-out
                              {% else %}
                                  in-stock
                              {% endif %}">
                    <md-ripple></md-ripple>
                    {% if product[4] %}
                      Sold Out
                    {% else %}
                      In Stock
                    {% endif %}
                  </div>
                </div>
              </div>
            </a>
            {% endif %}
          {% endfor %}
        {% else %}
          <div class="no-menu-message">
            <span class="material-symbols-outlined category-icon">event_busy</span>
            <h2>メニューが存在しないか、<br>食堂は営業していません。</h2>
          </div>
        {% endif %}
      </div>
      <div id="OTHER-panel" role="tabpanel" aria-labelledby="OTHER-tab" hidden>
        {% if products|length > 0 %}
          {% for product in products %}
            {% if product[3] == "OTHER" %}
            <a href="/products/{{ product[0] }}" class="product-card-link">
              <div class="product-card mdc-card">
                <md-elevation></md-elevation>
                <div class="mdc-card__media">
                  <md-ripple class="unbounded"></md-ripple>
                  <span class="material-symbols-outlined category-icon">pending</span>
                </div>
                <div class="mdc-card__primary-action">
                  <md-ripple></md-ripple>
                  <h2>{{ product[1] }}</h2>
                </div>
                <md-divider></md-divider>
                <div class="mdc-card__actions">
                  <md-ripple></md-ripple>
                  <div class="name"><span class="price">{{ product[2] }}</span></div>
                  <div class="status-button 
                              {% if product[4] %} 
                                  sold-out
                              {% else %}
                                  in-stock
                              {% endif %}">
                    <md-ripple></md-ripple>
                    {% if product[4] %}
                      Sold Out
                    {% else %}
                      In Stock
                    {% endif %}
                  </div>
                </div>
              </div>
            </a>
            {% endif %}
          {% endfor %}
        {% else %}
          <div class="no-menu-message">
            <span class="material-symbols-outlined category-icon">event_busy</span>
            <h2>メニューが存在しないか、<br>食堂は営業していません。</h2>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
  <div id="home-content">
    <div class="logo-container" style="margin-top: 0px; background-color: #fff;  align-items: center;">
          <a href="/menu" style="text-decoration: none; color: inherit; display: flex; height: 64px; align-items: center;">
            <img style="margin-left: 4%;" src="{{ url_for('static', filename='images/NITAC_LOGO.png') }}" alt="NITAC" width="48" height="36">
            <h2 style="margin-left: 1%; color: #981d30;">明石高専学生食堂システム</h2>
          </a>
    </div>
    <md-divider></md-divider>
    {% if products|length > 0 %}
      <h3 id="daily-menu-title">本日の日替わりメニュー</h3>
      <h4>~ 24:00</h4>
      <div id="AB-set">
        {% for product in products %}
          {% if product[3] == "AB" %}
          <a href="/products/{{ product[0] }}" class="product-card-link">
            <div class="home-product-card">
              <div class="mdc-card mdc-card--outlined">
                <md-elevation></md-elevation>
                <div class="mdc-card__media">
                  <md-ripple class="unbounded"></md-ripple>
                  <span class="material-symbols-outlined category-icon">restaurant_menu</span>
                </div>
                <div class="mdc-card__primary-action">
                  <md-ripple></md-ripple>
                  <h2>{{ product[1] }}</h2>
                </div>
                <md-divider></md-divider>
                <div class="mdc-card__actions">
                  <md-ripple></md-ripple>
                  <div class="name"><span class="price">{{ product[2] }}</span></div>
                  <div class="status-button 
                              {% if product[4] %} 
                                  sold-out
                              {% else %}
                                  in-stock
                              {% endif %}">
                    <md-ripple></md-ripple>
                    {% if product[4] %}
                      Sold Out
                    {% else %}
                      In Stock
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
          </a>
          {% endif %}
        {% endfor %}
      </div>
      <h3>今週の週替わりメニュー</h3>
      <h4>~ Friday</h4>
      <div id="week-set">
        {% for product in products %}
          {% if product[3] == "RAMEN" %}
          <a href="/products/{{ product[0] }}" class="product-card-link">
            <div class="home-product-card">
              <div class="mdc-card mdc-card--outlined">
                <md-elevation></md-elevation>
                <div class="mdc-card__media">
                  <md-ripple class="unbounded"></md-ripple>
                  <span class="material-symbols-outlined category-icon">ramen_dining</span>
                </div>
                <div class="mdc-card__primary-action">
                  <md-ripple></md-ripple>
                  <h2>{{ product[1] }}</h2>
                </div>
                <md-divider></md-divider>
                <div class="mdc-card__actions">
                  <md-ripple></md-ripple>
                  <div class="name"><span class="price">{{ product[2] }}</span></div>
                  <div class="status-button 
                              {% if product[4] %} 
                                  sold-out
                              {% else %}
                                  in-stock
                              {% endif %}">
                    <md-ripple></md-ripple>
                    {% if product[4] %}
                      Sold Out
                    {% else %}
                      In Stock
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
          </a>
          {% endif %}
        {% endfor %}
      </div>
    {% else %}
      <div class="no-menu-message">
        <span class="material-symbols-outlined category-icon">event_busy</span>
        <h2>メニューが存在しないか、<br>食堂は営業していません。</h2>
      </div>
    {% endif %}
  </div>
  <md-tabs id="bottom-tabs">
    <md-primary-tab id="home-tab" active>
      <md-icon slot="icon">home</md-icon>
      ホーム
    </md-primary-tab>
    <md-primary-tab id="menu-tab">
      <md-icon slot="icon">menu_book</md-icon>
      メニュー
    </md-primary-tab>
  </md-tabs>

  <script>
    const topTabs = document.querySelector('#top-tabs');
    const bottomTabs = document.querySelector('#bottom-tabs');
    const mainContent = document.querySelector('#main-content');
    const homeContent = document.querySelector('#home-content');
    const panels = document.querySelectorAll('[role="tabpanel"]');
    const logoContainer = document.querySelector('.logo-container');

    bottomTabs.addEventListener('change', (event) => {
        if (event.target.activeTab.id === 'home-tab'){
            mainContent.style.display = 'none';
            homeContent.style.display = 'block';
        } else {
            mainContent.style.display = 'block';
            homeContent.style.display = 'none';
        }
    });

    topTabs.addEventListener('change', (event) => {
      const activeTab = event.target.activeTab;
      const activePanelId = activeTab.id.replace('-tab', '-panel');

      // すべてのパネルを非表示にする
      panels.forEach(panel => panel.hidden = true);

      // アクティブなタブに対応するパネルを表示する
      document.getElementById(activePanelId).hidden = false;

      // スクロールを一番上にリセットする
      window.scrollTo(0, 0);
    });
  </script>
</body>
</html>