<!DOCTYPE html>
<html>
<head>
  <title>Product</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/product.css') }}">
  <script type="importmap">
    {
      "imports": {
        "@material/web/": "https://esm.run/@material/web/"
      }
    }
  </script>
  <script type="module">
    import '@material/web/all.js';
    import {styles as typescaleStyles} from '@material/web/typography/md-typescale-styles.js';

    document.adoptedStyleSheets.push(typescaleStyles.styleSheet);
  </script>
</head>
<body>
  <!-- Icon Button -->
  <md-icon-button href="/menu">
    <md-icon>arrow_back_ios_new</md-icon>
  </md-icon-button>

    <div class="product-card mdc-card">
      <md-elevation></md-elevation>
      <div class="mdc-card__media">
        <md-ripple class="unbounded"></md-ripple>
        {% if product[3] == "AB" %}
          <span class="material-symbols-outlined category-icon">restaurant_menu</span>
        {% elif product[3] == "RICE" %}
          <span class="material-symbols-outlined category-icon">rice_bowl</span>
        {% elif product[3] == "NOODLE" %}
          <span class="material-symbols-outlined category-icon">ramen_dining</span>
        {% endif %}
      </div>
      <div class="mdc-card__primary-action">
        <md-ripple></md-ripple>
        <h2>{{ product[1] }}</h2>
        <a href="#" onclick="openDialog()" style="text-decoration: underline; color: #333333;">商品情報詳細</a>
      </div>
      <md-divider></md-divider>
      <div class="mdc-card__actions">
        <md-ripple></md-ripple>
        <div class="name"><span class="price">{{ product[2] }}</span></div>
        <div class="status-button 
                    {% if product[4] %} 
                        sold-out
                    {% else %}
                        in-stock
                    {% endif %}">
          <md-ripple></md-ripple>
          {% if product[4] %}
            Sold Out
          {% else %}
            In Stock
          {% endif %}
        </div>
      </div>
    </div>

  <!-- 在庫状況入力フォームボタン -->
  <button class="dialog-button" onclick="openStockDialog()">
    在庫状況入力フォーム
  </button>

  <!-- 在庫状況入力フォームダイアログ  -->
  <md-dialog id="stock-dialog">
    <div slot="headline">在庫状況入力フォーム</div>
    <div slot="content">
      <md-radio id="in-stock-radio" name="soldout" value="false" checked></md-radio>
      <label for="in-stock-radio">在庫あり</label>
    </div>
    <div slot="content">
      <md-radio id="sold-out-radio" name="soldout" value="true"></md-radio>
      <label for="sold-out-radio">在庫なし</label>
    </div>
    <div slot="actions">
      <md-text-button onclick="submitSoldOutStatus()">送信</md-text-button>
    </div>
  </md-dialog>

  <!-- フルスクリーンダイアログ  -->
  <md-dialog id="product-dialog" >
    <div slot="headline">商品情報詳細</div>
    <div slot="content">
      <!-- アレルギー情報テーブルを表示 -->     
      <md-divider></md-divider>
      <table id="allergen-table">
        <thead>
          <tr>
            <th>アレルゲン</th>
            <th>有無</th>
          </tr>
        </thead>
        <tbody>
          {% for i in range(allergen_table|length) %}
          <tr>
            <td>{{ allergen_table[i] }}</td>
            <td>{{ allergen_data[i] }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>  
      <md-divider></md-divider>
    </div>
    <div slot="actions">
      <md-text-button onclick="closeDialog()">閉じる</md-text-button>
    </div>
  </md-dialog>

  <script>
    // 在庫状況入力フォームダイアログを取得
    const stockDialog = document.getElementById("stock-dialog");

    // フルスクリーンダイアログを取得
    const dialog = document.getElementById("product-dialog");

    // 在庫状況入力フォームダイアログを表示する関数
    function openStockDialog() {
      // ダイアログを開く前にラジオボタンの状態をリセット
      document.getElementById("in-stock-radio").checked = !{{ product[4]|lower }};
      document.getElementById("sold-out-radio").checked = {{ product[4]|lower }};
      stockDialog.show();
    }

    // フルスクリーンダイアログを表示する関数
    function openDialog() {
      dialog.show();
    }

    // フルスクリーンダイアログを閉じる関数
    function closeDialog() {
      dialog.close();
    }

    // 売り切れ状態を送信する関数
    function submitSoldOutStatus() {
      const isSoldOut = document.getElementById("sold-out-radio").checked;
      const id = {{ product[0] }}; // 商品ID
      const redirectUrl = `/soldout/${id}/${isSoldOut}`;
      window.location.href = redirectUrl;
    }
  </script>
</body>
</html>